.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.netrc
.swiftpm/
*Generated/
Package.resolved
.swiftlint/
.swiftlint/RemoteConfigCache
.home

# SwiftLint Remote Config Cache
.swiftlint/RemoteConfigCache